
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 80px;
    background-color: black;
}
#logo{
    font-size: 30px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 80px;
    line-height: 80px;
}
ul{
    float: right;
    margin-right: 80px;
}
li{
    display: inline-block;
    line-height: 80px;
    padding-left: 40px;
}
a{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover,#active{
    color: orange;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(237, 236, 236);
}
footer{
    margin-top: auto;
    text-align: center;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}
#services-menu{
    display: none;
}
#services:hover #services-menu{
    display: block;
    position:absolute;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
#services-menu li{
    display: block;
    line-height: 40px;
    padding: 0;
    border-bottom: 1px solid rgb(70, 70, 70);
}
#services-menu li:last-child{
    border-bottom: none;
}
#carret{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
    display: inline-block;
    margin-left: 5px;
    
}
#services:hover #carret{
    border-top: 8px solid orange;
}
main{
    margin: 40px 80px 0 80px;
}
#id{
    width: 25%;
    height: 30%;
    
}
/* @media screen and (max-width:768px) {
    body{
        background-color: orange;
        font-size: 50px;
    }
    
} */
 .menu-toggle{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
 }
@media screen and (max-width:1200px) {
    .menu-toggle{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: black;
    }
    nav{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #444;
    }
    nav.active{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    ul{
        float: right;
        margin: 0;
        flex-direction: column;
        width: 25%;
        background-color: black;
    }
    li{
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 1px solid gray;
    }
    #logo{
        padding-right: 350px;
    }
    #services-menu li a {
        font-size: 12px;
    }

    
}
